version: "3.9"
    
services:
  db:
    image: mysql:5.7
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: phishbuster
      MYSQL_USER: admin
      MYSQL_PASSWORD: 123456

volumes:
  db_data: {}